<div>
  <ul>
    <% movie_groups = group_ratings_by_movie(ratings) %> <% movie_groups.each do
    | group | %>
    <h3><%= group[:title] %></h3>
    <li>
      <% group[:ratings].each do | rating | %> <%= "Rebecca:
      #{render_rating(rating)}" if rating.user_id == 1 %> <%= "Matt:
      #{render_rating(rating)}" if rating.user_id == 2 %> <% end %>
    </li>
    <% end %>
  </ul>
</div>
