<div>
  <%= f.collection_select(:movie_id, Movie.all.order(:title), :id, :title) %>
  <%= button_to 'Add new movie', new_movie_path, method: :post, data: {
  turbo_action: 'replace', turbo_frame: 'movie-selection' } %>
</div>
