.movies-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
}

.movie-row {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.month-year {
  width: 300px;
  margin: 0 auto;
  padding-right: 3rem;
  font-style: italic;
}

#title {
  font-weight: bold;
  text-wrap: wrap;
  max-width: 220px;
}

#watched-date {
  font-style: italic;
  font-size: 0.9rem;
}

.info-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.scores-column {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.rating-column {
  display: flex;
  flex-direction: column;
}

.name-row {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #title {
    max-width: 120px;
    text-wrap: wrap;
  }
  .movie-row {
    width: 100%;
  }
}
